<header>
    <img (click)="goHome()" src="logo_cinema2.png" alt="Logo Cinéma L'étoile" class="logo">

    <div class="header-content">
        <h1 class="title">Cinéma L'étoile</h1>
        
        <nav class="nav-links">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
            <a routerLink="film-list" routerLinkActive="active">À l'affiche</a>
            <a routerLink="cinema-informations" routerLinkActive="active">Le cinéma</a>
            <a routerLink="contact" routerLinkActive="active">Contact</a>
            <a routerLink="my-account" routerLinkActive="active">Mon compte</a>
        </nav>
    </div>

    <button class="connexionButton" (click)="onConnexion()">Se connecter</button>
    
</header>

<dialog #popupConnexion class="popup-connexion">
    <button  class="bouton-fermer" (click)="closeConnexion()">&times;</button>
    <div class="popup-contenu">
        <app-connexion></app-connexion>
    </div>
</dialog>