footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 15px;
  height: 70px;
  box-shadow: rgb(83, 80, 80) 3px 3px 7px;
}

.logo {
  position: absolute;
  left: 200px;
  width: 80px;
  height: auto;
  cursor: pointer;
}

.copyright {
  margin: 0 10px;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  color: #333;
}