<div class="film-card" [ngClass]="{snapped: userHasSnapped}">

    <h1>{{film.title |uppercase}}</h1> 
    <h4>{{film.genre}}</h4>
    
    <div class="film-container">    
        <div class="film-details">
            
            <h3 class="resume">Résumé :</h3>
            <p>{{film.description}}</p>
            <h3>Réalisateurs :</h3>
            <ul>
                @for (realisator of film.realisator; track $index) {
                    <li>{{realisator}}</li>
                }
            </ul>
            <h3>Acteurs :</h3>
            <ul>
                @for (actor of film.actors; track $index) {
                    <li>{{actor}}</li>
                }
            </ul>
            <p ><span class="duration">Durée :</span> {{film.duration}} minutes</p>
        </div>
        
        <div class="image-container">
            <img class="film-image" [src]="film.imageUrl" [alt]="film.title" (click)="openImage()" >

            <button class="bouton-annonce" (click)="onTrailer()">Bande d'annonce</button>
        </div>
        

    </div>
</div>

<dialog #popupImage class="popup-image">
    <button  class="bouton-fermer" (click)="closeImage()">&times;</button>
    <div class="popup-contenu">
        <img [src]="film.imageUrl" alt="Image agrandie">
    </div>
</dialog>

<dialog #popupTrailer class="popup-trailer">
    <button class="bouton-fermer" (click)="closeTrailer()">&times;</button>
    @if (this.openedTrailer) {
        <div class="popup-contenu" >
            <iframe width="560" height="315" [src]="this.safeTrailerUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    }
</dialog>