<div class="landing-block">
    <h1>Bienvenue au Cinéma L'étoile ⭐</h1>
    <p>Nous sommes ravis de vous accueillir dans votre nouveau lieu de divertissement dédié au 7ᵉ art. 
        Situé au cœur de la ville, le Cinéma L'étoile vous propose une expérience immersive où chaque séance devient un voyage.</p>
    
    <p>Découvrez une programmation variée allant des grands classiques du cinéma aux dernières sorties, en passant par des films d’auteur, 
        des animations pour toute la famille et des avant-premières exclusives.</p>

    <p>Nos salles modernes, équipées d’un son haute définition et d’écrans de dernière génération, 
        vous garantissent un confort optimal pour profiter pleinement de chaque film. Installez-vous, détendez-vous et laissez la magie opérer. </p>

    <p>Que vous veniez seul, en famille ou entre amis, le Cinéma L'étoile est l’endroit idéal pour partager des émotions, rire, vibrer et rêver.</p>

    <p>🎬 <b>À très bientôt dans nos salles !</b></p>

    <button (click)="onContinue()" class="btn_a_l_affiche">À l'affiche</button>

    <div class="carrousel-conteneur">
        <div class="carrousel-images">
            <img src="snapface-logo.png" alt="Paysage montagneux">
            <img src="snapface-logo.png" alt="Forêt et rivière">
            <img src="snapface-logo.png" alt="Coucher de soleil sur la mer">
            <img src="snapface-logo.png" alt="Coucher de soleil sur la mer">
            <img src="snapface-logo.png" alt="Coucher de soleil sur la mer">
            <img src="snapface-logo.png" alt="Coucher de soleil sur la mer">
        </div>
    </div>




    <div class="landing-links">
        <a routerLink="facesnaps">Continuer vers Snapface</a>
    </div>
</div>